# ================================
# Base
# ================================
pandas>=2.3
numpy>=2.3
python-dotenv>=1.1

# ================================
# Visualization / EDA
# ================================
matplotlib>=3.10
seaborn>=0.13

# ================================
# Machine Learning
# ================================
scikit-learn>=1.7
xgboost>=3.1
lightgbm>=4.6
imbalanced-learn>=0.14
joblib>=1.5

# ================================
# Deep Learning
# ================================
torch>=2.9
torchvision>=0.24

# ================================
# Web App (Streamlit)
# ================================
streamlit>=1.50

# ================================
# Utils
# ================================
tqdm>=4.67
